In [2]:
import pandas as pd

In [ ]:
#Задача 1

In [3]:
def rate_movie (row):
    if row <= 2.0:
        return 'Низкий рейтинг'
    elif row <= 4.0:
        return 'Средний рейтинг'
    else:
        return 'Высокий рейтинг'

In [5]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [7]:
ratings['class'] = ratings['rating'].apply(rate_movie)

In [8]:
ratings

        userId  movieId  rating   timestamp            class
0            1        1     4.0   964982703  Средний рейтинг
1            1        3     4.0   964981247  Средний рейтинг
2            1        6     4.0   964982224  Средний рейтинг
3            1       47     5.0   964983815  Высокий рейтинг
4            1       50     5.0   964982931  Высокий рейтинг
...        ...      ...     ...         ...              ...
100831     610   166534     4.0  1493848402  Средний рейтинг
100832     610   168248     5.0  1493850091  Высокий рейтинг
100833     610   168250     5.0  1494273047  Высокий рейтинг
100834     610   168252     5.0  1493846352  Высокий рейтинг
100835     610   170875     3.0  1493846415  Средний рейтинг

[100836 rows x 5 columns]

In [ ]:
#Задача 2

In [3]:
geo = pd.read_csv('keywords.csv')
geo.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [43]:
geo_data = {'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

In [83]:
def region(row):
    if ('москва' in row or 'тула' in row or 'ярославль' in row):
        return 'Центр'
    elif ('петербург' in row or 'псков' in row or 'мурманск' in row):
        return 'Северо-Запад'
    elif ('владивосток' in row or 'сахалин' in row or 'хабаровск' in row):
        return 'Дальний Восток'
    else:
        return 'undefined'

In [84]:
# def region(row):
#     for i in geo_data['Центр']:
#         if i in row:
#             return 'Центр'

In [85]:
geo['region'] = geo['keyword'].apply(lambda x: region(x))
geo

                       keyword     shows     region
0                           вк  64292779  undefined
1                одноклассники  63810309  undefined
2                        порно  41747114  undefined
3                         ютуб  39995567  undefined
4                    вконтакте  21014195  undefined
...                        ...       ...        ...
99995   эльдорадо старый оскол      3705  undefined
99996      frigate для firefox      3630  undefined
99997                   укрсиб      3630  undefined
99998  погода в ялте на неделю      3688  undefined
99999                     ггму      3630  undefined

[100000 rows x 3 columns]

In [90]:
#Проверка
geo.loc[geo.keyword.str.contains("москва"), ['keyword', 'region']]

                                                keyword region
127                                        авито москва  Центр
1259                                             москва  Центр
1396                                    гисметео москва  Центр
1482                                   госуслуги москва  Центр
1682                                      погода москва  Центр
...                                                 ...    ...
98388                  пилюли ру интернет аптека москва  Центр
98679                                        геи москва  Центр
98943  вакансии на авито москва от прямых работодателей  Центр
99292                      афиша кино москва на сегодня  Центр
99890                               яндекс метро москва  Центр

[284 rows x 2 columns]